@mixin greenGradient() {
  background-image: linear-gradient(to bottom, #769715, #99CC01)
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}

body {
  font-family: Helvetica, Arial;
  width: 650px;
  font-size: 10px;
  margin: 0 auto;
  font-weight: 100;
}

.site-header {
  font-size: 20px;

  .header {
    display: block;
    height: 80px;
    color: #fff;
    @include greenGradient();
    font-weight: bold;

    h2 {
      font-weight: lighter;
      padding: 20px 35px;
    }
  }

  .menu li{
    display: inline;
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

#welcome {
  position: relative;
  display: block;
  background: #E2E8F4;

  #welcome-text {
    display: block;
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  h2 {
    font-weight: 100;
    font-size: 30px;
  }
}
h3 {
    font-size: 20px;
}

.green-text {
  font-size: 1.2em;
  color: #99CC01;
}

span {
  font-weight: 900;
}

.content {
  position: relative;
  display: block;
  width: 650px;
  height: 400px;

  .about {
    display: block;
    width: 200px;
    position: absolute;
    left: 10px;
  }

  .column {
    display: block;
    width: 100px;
    position: absolute;
    right: 100px;

    img {
      position: absolute;
      right: 130px;
    }
  }

  span {
    font-weight: 100;
  }
}
