body {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    width: 900px;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
    background: honeydew;
}

.cbx {
    width: 20px;
    height: 20px;
}

.cbx:checked {

}

.delete-btn {
    width: 20px;
    height: 20px;
}