body {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  width: 800px;
  background: honeydew;
  margin: 0 auto; }

h2 {
  margin-left: 110px; }

.task {
  margin-bottom: 10px;
  padding: 5px; }

.task:hover {
  background-color: #77D9C9;
  border-radius: 8px; }

.check-box {
  width: 20px;
  height: 20px;
}

.task-data {
  display: inline-block;
}

.close {
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
  background: white;
  border-radius: 8px; }
  #list li {
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
    text-align: left; }

.btn-blok-1 {
  margin-top: 10px; }

.hidden {
  visibility: hidden; }

.done {
  text-decoration: line-through;
}